# Commands
# use the commands key to execute commands on the EC2 instance.
# The commands run before the application and web server are set up and the application version file is extracted.
# The specified commands run as the root user, and are processed in alphabetical order by name.
# By default, commands run in the root directory. To run commands from another directory, use the cwd option.
# https://docs.aws.amazon.com/elasticbeanstalk/latest/dg/customize-containers-ec2.html#linux-commands
#commands:
#  01_install_yarn: # https://serverfault.com/questions/840628/how-do-i-get-yarn-installed-on-elastic-beanstalk/1051810#1051810
#    command: |
#      set -e
#      npm i -g yarn
#      ln -s "$(npm bin --global)"/yarn /usr/bin/yarn
#    test: "! yarn -v"

# Container commands
# You can use the container_commands key to execute commands that affect your application source code.
# Container commands run after the application and web server have been set up and the application version archive has
# been extracted, but before the application version is deployed.
container_commands:
  01_yarn_install:
    env:
      NODE_ENV: production
    command: "yarn install"
  02_yarn_build:
    env:
      NODE_ENV: production
    command: "yarn build"
#  03_migrations:
#    env:
#      NODE_ENV: production
#    command: "yarn sequelize db:migrate"
#    leader_only: true
